html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body.container
        h1=msg
        p Please Login to start your session
        form(method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="Username",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="Password",name="password").form-control
            br
            input(type="submit" value="login").btn.btn-primary
        
        p Dont have an account?
            a(href="/register") register here
        p 
            a(href="/forgot-password") forgot password?